.App {
	text-align: center;
}
body {
	background-color: #ff745c;
}
.home {
	text-align: center;
}
.agebox {
	text-align: center;
	font-weight: bold;
}
img {
	text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
		height: 250px;
		width: 250px;

}

.jumbotron.jumbotron-fluid {
  background-color: #ff745c !important;
  color: black !important;
  padding: 0px;
  text-decoration: none !important;
}

.namebox {
	text-align: center;
	font-weight: bold;
}

.enjoybox {
	text-align: center;
	font-weight: bold;
}

.submitbox {
	text-align: center;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.footer {
	text-align: center;
}

.display-3 {
	font-size: 10rem !important;
	text-align: center;
}

.lead {
	font-size: 2rem !important;
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
